extends layout.pug

block content
  h1= pageTitle
  p Welcome to: #{pageTitle}
  br
 

  table
    each workout in workouts
      tr
        td=workout.name
      each excercise in workout.excercises
        tr
          td=excercise.name
          td=excercise.description
          td=excercise.set
          td=excercise.duration

      
  br

  br
  p Add New Workout
  form(action='/', method='POST')
    p
      | Workout Name:
      input(name='workout_name', id='workout_name', value = '', type='text')
    input(value='Submit', type='submit')
    input(reset='Reset' type='reset')

  p TODO On submit, webpage stuck constantly loading after information is submitted to database